

/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/


/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/
.jumbotron{
 
  background: url('') no-repeat center;
  background-size: cover;
}
.portrait_name{
    font-family: 'Audiowide', cursive;
}
.portrait_name{
    background: rgba(230, 230, 230, 0.7);
     background-color: #4DBA51;
}
.thumbnail {
    background-color: #4DBA51;
}
body {
    background-color: #49C0E8;
}
footer{
    background:#4DBA51;
}
h2{
    text-align:center;
}